@let isLoading = isLoading$ | async;
@let pokemons = pokemons$ | async;

<div class="fmc-pokemon-list">
  @if (pokemons && !isLoading) {
    <div class="fmc-pokemon-list__table">
      <table class="mat-elevation-z8" mat-table [dataSource]="pokemons">
        <tr mat-header-row *matHeaderRowDef="columnsConfig"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsConfig;"></tr>

        @for (column of columns; track column.field) {
          <ng-container [matColumnDef]="column.field">
            <th mat-header-cell *matHeaderCellDef>{{ column.label | translate }}</th>
            <td mat-cell *matCellDef="let element">
              @if (element.capitalize) {
                {{ element[column.field] | capitalize }}
              } @else {
                {{ element[column.field] }}
              }
            </td>
          </ng-container>
        }
      </table>
    </div>
  } @else {
    {{ 'common.loading' | translate }}
  }

  <mat-paginator
    (page)="triggerPageEvent($event)"
    [pageSizeOptions]="pageSizes"
    [pageSize]="pageSize$ | async"
    [pageIndex]="currentPage$ | async"
    [length]="total$ | async"
    showFirstLastButtons
    class="fmc-pokemon-list__pagination"
  >
  </mat-paginator>
</div>
